{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <h3>Library Management System Registration Page </h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" method="post">
                  {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                      <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% endfor %}
                <input type="submit" name="" value="Submit" >

                </form>
            </div>
        </div>
    </div>
{% endblock %}